* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
    width: 40%;
    margin: 0 auto;
    background-color: rgba(137, 43, 226, 0.438);
}

body {
    background-color: #fffffff1;
    padding: 2rem;
}

h1 {
    padding-bottom: 2rem;
    color: rgb(217, 45, 239);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.496);
}

.container {
    width: 100%;
}

.container p {
    padding: 1rem 0;
}

.container img {
    width: 100%;
}

.container a {
    color:rgb(217, 45, 239);
    text-decoration: none;
}

.dois {
    margin-top: 1rem;
    border-top: 1px solid blueviolet;
}

.dois h2:first-child {
    padding-top: 2rem;
}

footer {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid blueviolet;
    text-align: center;
}

footer p:last-child {
    padding-top: 1rem;
    text-transform: uppercase;
    color: blueviolet;

}

footer p a:hover {
    cursor: pointer;
    border-bottom: 1px solid blueviolet;

}